<mat-card>
    <mat-card-header>
        <mat-card-title>
            Kontakty
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-action-list>
            <ng-container *ngFor="let contact of contacts; let i = index">
                <mat-list-item (click)="onSelect(contact)" [ngClass]="{selected: selectedContact === contact}">
                    <img matListAvatar [src]="contact.avatar" [alt]="contact.name">
                    <p mat-line>{{contact.name}}</p>
                    <p mat-line> {{contact.number}} </p>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </ng-container>
        </mat-action-list>
    </mat-card-content>
</mat-card>

<app-contact-details [contact]="selectedContact"></app-contact-details>
